// Body
$body-bg:                     #ffffff !default;
$body-color:                  #000000 !default;
$body-text-align:             left !default;

// Links
//
// Style anchor elements.
$link-color:                  lighten($body-color, 50%) !default;
$link-decoration:             none !default;
$link-shade-percentage:       50% !default;
$link-hover-color:            shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:       null !default;

//$stretched-link-pseudo-element:           after !default;
//$stretched-link-z-index:                  1 !default;

// Code
$code-block-bg:               darken($body-bg, 3%) !default;
$code-color:                  lighten($body-color, 10%) !default;
$code-bg:                     darken($body-bg, 0%) !default;

$card-border-color:           $body-color !default;
$form-select-border-color:    $body-color !default;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Inter:wght@300;400;500;600&display=swap');
$font-family-sans-serif:      "Inter" !default;
$font-family-monospace:       "B612 Mono" !default;


$font-size-root:              null !default;
$font-size-base:              1rem !default;
$font-size-sm:                $font-size-base * .85 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

// Headings
$h1-font-size:                $font-size-base * 1.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

// Spacers
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Headings Variables
$headings-font-weight:        300 !default;
$headings-margin-bottom:      $spacer * .5 !default;
$headings-line-height:        1.33 !default;

// Navigation
$navbar-bg:                   $body-bg !default;

$nav-link-font-size:          $font-size-sm !default;
$nav-link-font-weight:        600 !default;
$nav-link-color:              $body-color !default;

$nav-tabs-link-active-color:        $body-bg !default;
$nav-tabs-link-active-bg:           $body-bg !default;

$navbar-brand:                $body-color !default;
$navbar-brand-font-size:      $font-size-sm !default;

// Enforced
.nav-link {
  color: $nav-link-color !important;
  line-height: 1 !important;
}

.nav-item > a:hover {
  color: $link-color !important;
}

.navbar-nav .active {
  color: $link-color !important;
}

.navbar-brand {
  padding-bottom: 0.55rem !important;
  font-weight: 600 !important;
}

.navbar-toggler {
  color: $body-bg !important;
  border-color: $body-bg !important;
}

.navbar-dark .navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.95)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/*-- scss:rules --*/